button,.button {background: -moz-linear-gradient(top, #ffffff 0%, #dedede 100%) !important;}
button:active,.button:active,button.active {background: -moz-linear-gradient(top, #dedede 0%, #efefef 100%) !important;}
.button.dropdown.small,button.dropdown.small {padding-right: 25px;}
.button.success {
	background: -webkit-gradient(linear, left top, left bottom, from(#34f662), to(#05b421)) #ffffff !important;
	background: -webkit-linear-gradient(top, #34f662 0%, #05b421 100%) #ffffff !important;
	background: -moz-linear-gradient(top, #34f662 0%, #05b421 100%) #ffffff !important;
	background: linear-gradient(to bottom, #34f662 0%, #05b421 100%) #ffffff !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); }
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.dropdown.button.small:after, button.dropdown.small:after {
  border-width: 0.48333rem;
  right: 7px;
  border-top-color: #444;
  margin-top: -0.20833rem;}
.f-dropdown {border-color: #aaa;}
.f-dropdown,.f-dropdown li,.f-dropdown a {border-radius: 2px;}
.f-dropdown a {font-size: 12px; background: #fefefe;}
.f-dropdown a:hover {background: #f5f5f5; text-shadow: 0px 1px 1px #fff;}
.f-dropdown li p {
	padding: 6px 6px;
	margin: 0;
	font-style: italic;
	color: #999;
	line-height: 16px;
	font-size: 11px;
	cursor: default;
	background: #eee;}
.reveal-modal {top: 0px !important;}
html, body {height: 100%;}

.tab-title a {
	font-weight: 500;
	text-shadow: 0 1px 0 #ffffff;
	padding: 1px 12px !important;
	border-width: 1px;
	border-color: #9c9c9c;
	border-style: solid;
	border-right: none;
	background: -moz-linear-gradient(top, #ffffff 0%, #dedede 100%) !important;
	background: -webkit-linear-gradient(top, #ffffff 0%,#dedede 100%) !important;
	background: linear-gradient(top, #ffffff 0%,#dedede 100%) !important;}
.tab-title:first-of-type a {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;}
.tab-title:last-of-type a {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-right: solid 1px #9c9c9c;}
.tab-title.active a {
	background: -moz-linear-gradient(top, #484848 0%, #696969 100%) !important;
	background: -webkit-linear-gradient(top, #484848 0%,#696969 100%) !important;
	background: linear-gradient(top, #484848 0%,#696969 100%) !important;
	text-shadow: 0 1px 0 #000;}

/*! jQuery UI - v1.11.0 - 2014-08-05
* http://jqueryui.com
* Includes: core.css, sortable.css
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {display: none;}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;}
.ui-helper-clearfix:after {clear: both;}
.ui-helper-clearfix {min-height: 0; /* support: IE7 */}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);}

.ui-front {z-index: 100;}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {cursor: default !important;}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;}
.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;}
input.text {
	background: none;
	border: none;
	box-shadow: none;
	padding:0;}

input.text[type="submit"] {color: #2d8fdf;}

/*************
Default Theme
*************/

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	cursor: pointer;
	position: relative;
	vertical-align: top;
	white-space: normal;
	padding: 4px 20px 4px 4px;}

.tablesorter-default thead .tablesorter-header::before {
	position: absolute;
	right: 5px;
	margin-top: 1px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 14px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;}

.tablesorter-default thead .tablesorter-headerUnSorted::before {content: "\f0dc";}
.tablesorter-default thead .headerSortUp::before,
.tablesorter-default thead .tablesorter-headerSortUp::before,
.tablesorter-default thead .tablesorter-headerAsc::before {content: "\f0de";}
.tablesorter-default thead .headerSortDown::before,
.tablesorter-default thead .tablesorter-headerSortDown::before,
.tablesorter-default thead .tablesorter-headerDesc::before {content: "\f0dd";}

.tablesorter-default tbody td {
	padding: 8px 11px;
}
/* hovered row colors */
.tablesorter-default tbody > tr:hover > td,
.tablesorter-default tbody > tr.even:hover > td,
.tablesorter-default tbody > tr.odd:hover > td {background: #f3f3f3;color: #000;}

/* table processing indicator */
.tablesorter-default .tablesorter-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	/* background-image: url(../addons/pager/icons/loading.gif) !important; */
	background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;}

/* Column Widget - column sort colors */
.tablesorter-default tr.odd td.primary {background-color: #bfbfbf;}
.tablesorter-default td.primary,
.tablesorter-default tr.even td.primary {background-color: #d9d9d9;}
.tablesorter-default tr.odd td.secondary {background-color: #d9d9d9;}
.tablesorter-default td.secondary,
.tablesorter-default tr.even td.secondary {background-color: #e6e6e6;}
.tablesorter-default tr.odd td.tertiary {background-color: #e6e6e6;}
.tablesorter-default td.tertiary,
.tablesorter-default tr.even td.tertiary {background-color: #f2f2f2;}

/* caption */
caption {background: #fff;}

/* filter widget */
.tablesorter-default .tablesorter-filter-row td {
	background: #eee;
	border-bottom: #ccc 1px solid;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;}
/* optional disabled input styling */
.tablesorter-default .tablesorter-filter-row .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;}
/* hidden filter row */
.tablesorter-default .tablesorter-filter-row.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;}
.tablesorter-default .tablesorter-filter-row.hideme .tablesorter-filter {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);}
/* filters */
.tablesorter-default .tablesorter-filter {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;}
/* ajax error row */
.tablesorter .tablesorter-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;}
.tablesorter-pager .pagesize {
	display: inline-block;
	width: auto;
	padding-right: 30px;
	margin-bottom: 0;
	cursor: pointer;}
.tablesorter-pager .fa-step-forward::after {
	content: "Show";
	display: inline-block;
	margin-left: 20px;
	font-weight: bold;}
.tablesorter-pager {cursor: default;float: left;}
.tablesorter-pager .fa {outline: none; cursor: pointer;color: #333;}
.tablesorter-pager .fa.disabled {color: #999;}
.tablesorter-pager .fa::before {padding: 3px 2px;}
.tablesorter-pager .fa.disabled:hover,
.tablesorter-pager .fa.disabled:hover::before {cursor: default;}
.tablesorter-pager .fa:not(.disabled):hover::before {color: #000;}
.tablesorter-pager .fa-play {
	-webkit-transform:scale(0.6, 1.0);
	-moz-transform:scale(0.6, 1.0);
	-ms-transform:scale(0.6, 1.0);
	-o-transform:scale(0.6, 1.0);
	transform:scale(0.6,1.0);}
.tablesorter-pager .fa-play.fa-rotate-180 {
	-webkit-transform:rotate(180deg) scale(0.6, 1.0);
	-moz-transform:rotate(180deg) scale(0.6, 1.0);
	-ms-transform:rotate(180deg) scale(0.6, 1.0);
	-o-transform:rotate(180deg) scale(0.6, 1.0);
	transform:rotate(180deg) scale(0.6,1.0);}
input.ts-startRow {margin: 0; display: inline-block;}

#membertable tbody tr {cursor: pointer;}
#membertable tbody tr:focus {background-color: #e3e3e3; outline: none;}

#settings {padding: 0;}
#settings form .action {
	text-align: right;
	background: #e3e4e3;
	background:#cfd1cf;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#cfd1cf));
	background-image:-moz-linear-gradient(top,#f5f5f5,#cfd1cf);
	background-image:-webkit-linear-gradient(top,#f5f5f5,#cfd1cf);
	background-image:-o-linear-gradient(top,#f5f5f5,#cfd1cf);
	background-image:-ms-linear-gradient(top,#f5f5f5,#cfd1cf);
	background-image:linear-gradient(top,#f5f5f5,#cfd1cf);
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#f5f5f5',endColorstr='#cfd1cf');}

#settings form .action .button {
	border-radius: 3px !important;
	padding: 3px 10px;
	margin: 6px 6px 6px 0;}
#export_wrapper {
	float: right;
	position: relative;
	width: 150px;
	text-align: right;}
#export.open {text-align: left; left: 0 !important; margin-bottom: 0;}
* {outline: none;}

.mem-label{
	width: 170px;
	display: inline-block;
	font-weight: bold;
}
#household,#actinfo .title {
	display: block;
	font-weight: bold;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 5px;
}
#household ul {margin: 0; list-style: none;}
#household li a {color: #2d8fdf; font-weight: bold;}
#household li a:hover {color: #1d79c4;}
#household li.active a {color: #333;}
#household li:nth-child(11) {display: none;}
#household li:last-child {margin-top: 5px;}

#actinfo {
	margin-top: 50px;
}
#actinfo>div>div {
	margin-left: 15px;
}
.accountNum {
	font-size: 14px;
	line-height: 45px;
}
.accountNum span {
	font-size: 18px;
	font-weight: bold;
}
.no.border-left {border-left: none;}
select,input {border-radius: 0;}
[type="radio"],[type="checkbox"] {
	margin: 0 0 11px !important;
}
.expired {color: red !important;}
h1 small {font-size: 14px;}
h1 small::before {content: "[";}
h1 small::after {content: "]";}