<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
	<head>
		{% assign appRoot = '/_system/apps/bcpie-profile/' -%}
		{% include '{{appRoot}}logic/globals.inc' %}
		{% include '{{appRoot}}template/head.inc' %}
	</head>
	<body data-settings="{{settings | json | escape}}">
		<header id="pageheader" role="banner">
			{% include '{{appRoot}}template/header.inc' %}
		</header>
		<section id="pagecontent">
			<div class="row full-width">
				<div class="small-12 columns">
					<main role="main">
						{% if globals.get.page %}{% include '{{appRoot}}pages/{{globals.get.page}}.inc' %}{% else %}{% include '{{appRoot}}pages/home.inc' %}{% endif %}
					</main>
				</div>
			</div>
		</section>
		<footer id="pagefooter" role="contentinfo">
			<div class="row full-width">
				<div class="small-12 columns">
					{% include '{{appRoot}}template/footer.inc' %}
				</div>
			</div>
		</footer>
		{% include '{{appRoot}}template/foot.inc' %}
	</body>
</html>