<h1>Forum Registration</h1>

<p>{module_error}</p>
<h2>Existing Users - Login</h2>

<div class="content" data-slug="panel1">
    <form onSubmit="return check_RegistrationForm(this,'login')" action="{module_pageaddress}"
    method="post">
        <div class="row collapse">
            <div class="medium-2 columns">
                <input type="hidden" name="OrderLogin_Info" />
                <label class="inline">Username</label>
            </div>
            <div class="medium-10 columns">
                <input type="text" maxlength="255" name="Username" />
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-2 columns">
                <label class="inline">Password</label>
            </div>
            <div class="medium-10 columns">
                <input type="password" maxlength="255" name="Password" />
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-2 columns">
                <label class="inline">Password</label>
            </div>
            <div class="medium-10 columns">
                <input type="password" maxlength="255" name="Password" />
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-12 columns">
                <button type="submit" class="radius button">Login</button>
                <a onClick="document.getElementById('lostpassword').style.display='inline';return false;"
                href="#">Forgot your username/password?</a>
            </div>
        </div>
    </form>
</div>
<div class="content" data-slug="panel1">
    <h2>Forgot Password</h2>
    
    <form id="lostpassword" style="display: none" name="catseczonelpform57982" action="/LostPasswordProcess.aspx"
    method="post">
        <div class="row collapse">
            <div class="medium-2 columns">
                <label class="inline">Enter Username or Email Address</label>
            </div>
            <div class="medium-10 columns">
                <input type="text" maxlength="255" name="Username" />
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-12 columns">
                <button type="submit" class="radius button">Retrieve</button>
            </div>
        </div>
    </form>
</div>
<hr />
<h2>New User - Registration</h2>

<div class="content" data-slug="panel1">
    <form onSubmit="return check_RegistrationForm(this,'newuser')" action="{module_pageaddress}"
    method="post">
        <div class="row collapse">
            <div class="medium-2 columns">
                <input type="hidden" name="OrderRegistration_Info" />
                <label class="inline">Name</label>
            </div>
            <div class="medium-10 columns">
                <input type="text" value="{module_RegistrationInfo,Name}" name="Registration_Name"
                />
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-2 columns">
                <label class="inline">Email</label>
            </div>
            <div class="medium-10 columns">
                <input type="text" value="{module_RegistrationInfo,Email}" name="Registration_Email"
                />
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-2 columns">
                <label class="inline">User Name</label>
            </div>
            <div class="medium-10 columns">
                <input type="text" value="{module_RegistrationInfo,Username}" name="Registration_Username"
                />
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-2 columns">
                <label class="inline">Password</label>
            </div>
            <div class="medium-10 columns">
                <input type="password" value="{module_RegistrationInfo,Password}" name="Registration_Password"
                />
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-2 columns">
                <label class="inline">Confirm Password</label>
            </div>
            <div class="medium-10 columns">
                <input type="password" maxlength="255" value="{module_RegistrationInfo,ConfirmPassword}"
                name="Registration_ConfirmPassword" />
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-2 columns">
                <label class="inline">Alias</label>
            </div>
            <div class="medium-10 columns">
                <input type="text" value="{module_RegistrationInfo,Alias}" name="Registration_Alias"
                />
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-2 columns">
                <label class="inline">Signature</label>
            </div>
            <div class="medium-10 columns">
                <textarea name="Registration_Signature" rows="4" type="text">{module_RegistrationInfo,Signature}</textarea>
            </div>
        </div>
        <div class="row collapse">
            <div class="medium-12 columns">
                <button type="submit" class="radius button">Register</button>
            </div>
        </div>
    </form>
</div>
<!-- END .forum-registration -->
<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script>
<script type="text/javascript">
    //<![CDATA[
    function check_RegistrationForm(theForm, name) {
        var why = "";
        if (name == 'login') {
            why += isEmpty(theForm.Username.value, "Username");
            why += isEmpty(theForm.Password.value, "Password");
        } else {
            why += isEmpty(theForm.Registration_Name.value, "Full Name");
            why += isEmpty(theForm.Registration_Email.value, "Email Address");
            why += isEmpty(theForm.Registration_Username.value, "Username");
            why += isEmpty(theForm.Registration_Password.value, "Password");
            why += isEmpty(theForm.Registration_ConfirmPassword.value, "Password Confirmation");
        }
        if (why != "") {
            alert(why);
            return false;
        }
        return true;
    }
    //]]>
</script>