<table>
    <tr>
        <td><strong>Invoice Date</strong>
            <br>{tag_invoicedate}</td>
        <td align="right"><strong>Invoice Number</strong>
            <br>{tag_invoicenumber}</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td>{tag_recipientname}
            <br>{tag_addressdefault}</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td width="10%"><span>Product Code</span>
                    </td>
                    <td width="20%"><span>Product</span>
                    </td>
                    <td width="30%"><span>Description</span>
                    </td>
                    <td width="10%"><span>Unit Price</span>
                    </td>
                    <td width="10%"><span>Tax</span>
                    </td>
                    <td width="10%"><span>Quantity</span>
                    </td>
                    <td width="10%"><span>Total</span>
                    </td>
                </tr>
                <tr class="text">
                    <td width="10%">{tag_productcode}</td>
                    <td width="20%">{tag_productname}</td>
                    <td width="30%">{tag_productdescription}</td>
                    <td width="10%">{tag_productextaxamount}</td>
                    <td width="10%">{tag_producttaxamount}</td>
                    <td width="10%">{tag_productquantity}</td>
                    <td width="10%">{tag_producttotal}</td>
                </tr>
            </table>
            <table width="100%" class="textb" border="0" cellspacing="0" cellpadding="6">
                <tr>
                    <td colspan="2">
                        <br>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="90%"><strong>Shipping Cost:</strong>
                    </td>
                    <td class="text">{tag_shippingextaxamount}</td>
                </tr>
                <tr>
                    <td align="right" width="90%"><strong>Shipping Tax:</strong>
                    </td>
                    <td class="text">{tag_shippingtaxamount}</td>
                </tr>
                <tr>
                    <td align="right" width="90%"><strong>Grand Total:</strong>
                    </td>
                    <td>{tag_invoicetotal}</td>
                </tr>
                <tr>
                    <td align="right" width="90%"><strong>Paid Already:</strong>
                    </td>
                    <td>{tag_amountpaid}</td>
                </tr>
                <tr>
                    <td align="right" width="90%"><strong>Outstanding:</strong>
                    </td>
                    <td>{tag_amountoutstanding}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>