<div class="row">
    <div class="medium-2 columns small-3">
        <img src="/CatalystImages/b32/users 1.png" alt="">
    </div>
    <div class="medium-10 columns small-9">
        <h5 class="content-title">{tag_forumname}</h5> {tag_forumdescription}
        <ul class="inline-list">
            <li>Topics: <strong>{tag_forumtotaltopics}</strong>
            </li>
            <li>Posts: <strong>{tag_forumtotalposts}</strong>
            </li>
            <li><strong>{tag_forumlastpostdate}</strong> by {tag_forumlastpostauthor}</li>
        </ul>
    </div>
    <hr>
</div>