<p><span>{tag_forumname}</span> > <span>{tag_topicname}</span></p>

<h1>{tag_topicname}</h1>

<p>{module_error}</p>

<p>{tag_editor}</p>

<ul class="inline-list">
    <li>{module_whosloggedin}</li>
    <li>{tag_topicsubscribe,
        <img src="/CatalystImages/Forum_Subscribe.png" />,
        <img src="/CatalystImages/Forum_Unsubscribe.png" />} {tag_newpostlink,
        <img src="/CatalystImages/Forum_NewPost.png" />}</li>
</ul>

<p>{tag_postlist}</p>

<ul class="inline-list">
    <li>&nbsp;</li>
    <li>{tag_topicsubscribe,
        <img src="/CatalystImages/Forum_Subscribe.png" />,
        <img src="/CatalystImages/Forum_Unsubscribe.png" />} {tag_newpostlink,
        <img src="/CatalystImages/Forum_NewPost.png" />}</li>
</ul>