<div class="row">
	<div class="small-12 columns">
		<h1>Password Reset</h1>
		<p class="error {tag_error}" id="errorMessage">ERROR: An error occurred while resetting your password.</p>
		<p>Please fill in your new password in the form below:</p>
		<form data-bcpie-formmagic="validateMode:inline;" action="{module_secureurl}/ResetPasswordProcess.aspx?Token={tag_token}&Redirect={module_siteurl}" method="post">
			<div class="row collapse">
				<div class="medium-2 columns"><label class="inline">New Password</label></div>
				<div class="medium-10 columns"><input type="password" name="RPPassword" /></div>
			</div>
			<div class="row collapse">
				<div class="medium-2 columns"><label class="inline">Confirm New Password</label></div>
				<div class="medium-10 columns"><input type="password" name="RPPasswordConfirm" /></div>
			</div>
			<div class="row collapse">
				<div class="medium-12 columns"><button type="submit" class="button">Submit</button></div>
			</div>
		</form>
	</div>
</div>