<div class="row">
	<div class="small-12 columns">
		<h1>Password Retrieve</h1>
		<p class="error {tag_tokenExpired}">ERROR: Your password reset token has expired. Please request a new one by filling in the form below.</p>
		<p class="error {tag_invalidUsername}">ERROR: The email address or username you provided does not exist.</p>
		<p>Forgotten or lost your password? Enter your email address or username below and we'll send you instructions on how to reset it.</p>
		<form action="/LostPasswordProcess.aspx" method="post">
			<div class="row collapse">
				<div class="medium-2 columns"><label class="inline">Email Address / Username</label></div>
				<div class="medium-10 columns"><input type="text" name="Username"></div>
			</div>
			<div class="row collapse">
				<div class="medium-12 columns"><button type="submit" class="button">Retrieve</button></div>
			</div>
		</form>
	</div>
</div>