<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>System Email</title>
        <style type="text/css">
            body, td {color: #000000;font: 12px/18px Helvetica, Arial, Verdana, sans-serif;word-wrap: break-all;margin: 0;}
            p, address {color: #333333;font: 12px/18px Helvetica, Arial, Verdana, sans-serif;}
            address {font-style: normal;}
            a {color: #005ba7;text-decoration: none;}
            a:hover {color: #000000;text-decoration: none;}
            h1 {line-height: 1.1em;text-transform: uppercase;font-size: 24px;}
            h1 span {color: #aaa;font-size: 14px;}
            h1 span.date {color: #aaa;font-size: 14px;font-weight: normal;}
            h2 {color: #000000;font-size: 17px;margin: 10px 0 8px 0;line-height: 1.4em;}
            h3 {color: #111111;font-size: 15px;margin: 10px 0 4px 0;}
            strong {font-weight: bold;}
            span.auto {color: #aaaaaa;font-size: 14px;font-weight: bold;font-style: italic;}
            td.footer p, td.footer address {color: #666666;font-size: 11px;line-height: 17px;}
            img.d-separator {margin: 3px 0;}
            div.livefeed ul li {font-size: 11px;}
        </style>
    </head>
    <body bgcolor="#ffffff" font-size="10px" leftmargin="0" topmargin="0" rightmargin="0"
    bottommargin="0" marginwidth="0" marginheight="0">
        <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#555555">
            <tr>
                <td valign="top" align="center">
                    <table align="center" width="604" height="50" cellspacing="0" cellpadding="0"
                    border="0" bgcolor="#ffffff">
                        <tr>
                            <td width="2" bgcolor="#444444"></td>
                            <td width="20" bgcolor="#ffffff"></td>
                            <td>
                                <img src="" alt="BC Pie" />
                            </td>
                            <td align="right" class="header"><span class="auto">Automated Email</span>
                            </td>
                            <td width="20" bgcolor="#ffffff"></td>
                            <td width="2" bgcolor="#444444"></td>
                        </tr>
                        <tr>
                            <td width="2" bgcolor="#444444"></td>
                            <td colspan="4" bgcolor="#cccccc"></td>
                            <td width="2" bgcolor="#444444"></td>
                        </tr>
                    </table>
                    <table align="center" width="604" height="50" cellspacing="0" cellpadding="0"
                    border="0" bgcolor="#ffffff">
                        <tr>
                            <td width="2" bgcolor="#444444"></td>
                            <td colspan="3" bgcolor="#ffffff"></td>
                            <td width="2" bgcolor="#444444"></td>
                        </tr>
                        <tr>
                            <td width="2" bgcolor="#444444"></td>
                            <td width="20" bgcolor="#ffffff"></td>
                            <td>
                                <h1>Workflow Escalation<br>
                                </h1>
                            </td>
                            <td width="20" bgcolor="#ffffff"></td>
                            <td width="2" bgcolor="#444444"></td>
                        </tr>
                        <tr>
                            <td width="2" bgcolor="#444444"></td>
                            <td colspan="3" bgcolor="#eeeeee"></td>
                            <td width="2" bgcolor="#444444"></td>
                        </tr>
                    </table>
                    <!-- [end] header -->
                    <!-- [start] middle -->
                    <table align="center" width="604" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                        <tr>
                            <td width="2" bgcolor="#444444"></td>
                            <td width="20"></td>
                            <td valign="top" class="col-main" bgcolor="#ffffff">
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td height="16"></td>
                                    </tr>
                                    <tr>
                                        <td>This is an escalation notification for an existing workflow. You should notify
                                            the persons responsible for this step of the workflow to login and review the item
                                            and approve or reject the changes made to it. Alternatively you may undertake this
                                            task.
                                            <p>Step <strong>{tag_stepname}</strong> for workflow <strong>{tag_workflowname}</strong> on
                                                item <strong>{tag_objectname}</strong> should have been completed by <strong>{tag_expirydate}</strong>.</p>
                                            <p>Click on the link below to view this item
                                                <BR> <strong><A href="{tag_objecturl}">View this item</A></strong>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="15"></td>
                                    </tr>
                                </table>
                            </td>
                            <td width="20"></td>
                            <td width="2" bgcolor="#444444"></td>
                        </tr>
                    </table>
                    <!-- [start] middle -->
                    <table align="center" width="604" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                        <tr>
                            <td width="2" bgcolor="#444444"></td>
                            <td colspan="3" bgcolor="#f9f9f9"></td>
                            <td width="2" bgcolor="#444444"></td>
                        </tr>
                        <tr>
                            <td width="2" bgcolor="#444444"></td>
                            <td height="19" colspan="3"></td>
                            <td width="2" bgcolor="#444444"></td>
                        </tr>
                        <tr>
                            <td width="2" bgcolor="#444444"></td>
                            <td width="20"></td>
                            <td valign="top">
                                <p> <strong>Privacy</strong>
                                    <br/>BC Pie is committed to protecting your privacy. You have received this email because
                                    you are a registered user of the BC Pie system. If you wish to stop receiving this
                                    email please contact your system administrator.</p>
                                <p>&copy; BC Pie 2004-2014, All Rights Reserved</p>
                            </td>
                            <td width="20"></td>
                            <td width="2" bgcolor="#444444"></td>
                        </tr>
                        <tr>
                            <td width="2" bgcolor="#444444"></td>
                            <td height="29" colspan="3"></td>
                            <td width="2" bgcolor="#444444"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>