<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
	{% include '/_system/includes/template/head.inc' %}
</head>
<body data-bcpie-secure="sessionEndRedirect:{{pageaddress}};">
	<header id="pageheader" role="banner">
		<div class="row">
			<div class="small-12 columns">
				{% include '/_system/includes/template/header.inc' %}
			</div>
		</div>
	</header>
	<section id="pagecontent">
		<div class="row">
			<div class="medium-9 columns">
				<main role="main">
					<h1>{module_pagename}</h1>
					{tag_pagecontent}
				</main>
			</div>
			<div class="medium-3 columns">
				<aside>
					<nav id="secondary" role="navigation" data-bcpie-activenav="level:2;lastLevel:2;levelTitle:true;unlinkTitle:true;">
						{module_menu, version="2", menuID="1639909", moduleTemplateGroup="Side Nav"}
					</nav>
				</aside>
			</div>
		</div>
	</section>
	<footer id="pagefooter" role="contentinfo">
		<div class="row">
			<div class="small-12 columns">
				{% include '/_system/includes/template/footer.inc' %}
			</div>
		</div>
	</footer>
	{% include '/_system/includes/template/foot.inc' %}
</body>
</html>