@import "bower_components/foundation/scss/normalize";
@import "_settings";
@import "bower_components/foundation/scss/foundation";
@import "bower_components/font-awesome/scss/font-awesome";

.zero-1,.one-0,.hide:not(.show) {display: none !important;}
#pageheader,#pagecontent {
	padding-bottom: 20px;
}
#pageheader>* {
	margin-top: 20px;
}
#pageheader>nav {
	margin-top: 0;
}
.hnav {
	@include inline-list;
	border-bottom: 1px solid #e8e7e4;
	background: #fff;
	margin-left: 0px;
}
.hnav li {
	margin: 0;
}
.hnav li a {
	display: block;
	line-height: 40px;
	padding: 0px 18px;
	border-radius: 0 !important;
}
.hnav li.active a {
	background-image: none;
	background: -moz-linear-gradient(top, #2996E3 0%, #387ED7 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2996E3), color-stop(100%,#387ED7));
	background: -webkit-linear-gradient(top, #2996E3 0%,#387ED7 100%);
	background: -o-linear-gradient(top, #2996E3 0%,#387ED7 100%);
	background: -ms-linear-gradient(top, #2996E3 0%,#387ED7 100%);
	background: linear-gradient(top, #2996E3 0%,#387ED7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2996e3', endColorstr='#387ed7',GradientType=0 );
	text-shadow: 0 1px 1px #004B7C !important;
	color: #fff;
}
button,.button {
	text-shadow: 0 1px 0 #ffffff !important;
	box-shadow: none;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	border-width: 1px !important;
	border-color: #9c9c9c !important;
	border-style: solid !important;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #dedede 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dedede));
	background: -webkit-linear-gradient(top, #ffffff 0%,#dedede 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#dedede 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#dedede 100%);
	background: linear-gradient(top, #ffffff 0%,#dedede 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
}
button+button,.button+.button,button+.button,.button+button {
	margin-left: 10px;
}
button:hover,.button:hover {
	color: #333;
}
button:active,.button:active,button.active {
	background: #dedede;
	background: -moz-linear-gradient(top, #dedede 0%, #efefef 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #dedede 0%,#efefef 100%);
	background: -o-linear-gradient(top, #dedede 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #dedede 0%,#efefef 100%);
	background: linear-gradient(top, #dedede 0%,#efefef 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#efefef',GradientType=0 );
}
table {
	width: 100%;
}
input.error,select.error,textarea.error {
	border: 1px solid red;
}
input.error:focus,select.error:focus,textarea.error:focus {
	box-shadow: 0px 0px 3px red inset;
	border: 1px solid red;
}
tr+tr>.empty {display: none;}
table {border-collapse: inherit;}
table .actions>a+a {margin-left: 10px;}
li>.disabled {color: #ccc !important;cursor: default !important;}
 #pageheader .sub-nav {
	border-bottom: 1px solid #e5e6e5;
 }
	#pageheader .sub-nav li {
		margin-bottom: 0;
	}
 #pageheader .sub-nav a {
	line-height: 26px;
	display: block;
	padding: 0.25rem 1.33333rem;
 }
input, select, textarea {
		border-radius: 2px;
		box-shadow: 0 1px 2px #ccc inset;
}
label {
	padding-top: 2px !important;
}
.row.collapse label.inline.right:after {
	content: ":";
	padding-right: 8px;
}
h1>small#edit {
	text-decoration: underline;
	color: #2896e2;
	font-size: 12px;
}
h1>small#edit:hover {
	color: #1a84cb;
	cursor: pointer;
}
#actions {
	margin-bottom: 15px;
}
.tab-title a {
	font-weight: 500;
	text-shadow: 0 1px 0 #ffffff;
	padding: 1px 12px !important;
	border-width: 1px;
	border-color: #9c9c9c;
	border-style: solid;
	border-right: none;
	background: -moz-linear-gradient(top, #ffffff 0%, #dedede 100%) !important;
	background: -webkit-linear-gradient(top, #ffffff 0%,#dedede 100%) !important;
	background: linear-gradient(top, #ffffff 0%,#dedede 100%) !important;
}
.tab-title:first-of-type a {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.tab-title:last-of-type a {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-right: solid 1px #9c9c9c;
}
.tab-title.active a {
	background: -moz-linear-gradient(top, #484848 0%, #696969 100%) !important;
	background: -webkit-linear-gradient(top, #484848 0%,#696969 100%) !important;
	background: linear-gradient(top, #484848 0%,#696969 100%) !important;
	text-shadow: 0 1px 0 #000;
}

.accordion>.accordion-navigation {
	border-top: 2px solid #eee;
	margin-top: 27px;
}
.accordion>.accordion-navigation a {
	background: #fff;
	font-size: 19px;
	font-weight: 500;
	padding: 0;
	padding-right: 12px;
	display: inline-block;
	position: relative;
	top: -17px;
}
.accordion>.accordion-navigation:hover a {
	background: #fff;
}
.accordion>.accordion-navigation.active a {
	background: #fff;
	padding-right: 9px;
}
.accordion>.accordion-navigation a:after {
	content: "";
	margin-left: 13px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #2993E1;
	display: inline-block;
}
.accordion>.accordion-navigation.active a:after {
	content: "";
	margin-left: 10px;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-top: 6px solid #2993E1;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	display: inline-block;
}
.breadcrumbs {
	border-top: none;
	border-left: none;
	border-right: none;
	margin: 0;
}
.editor-wrapper {
	position: relative;
	min-height: 200px;
	border: 1px solid #9c9c9c;
	background: #262821;
	display: block;
	overflow: hidden;
	border-radius: 2px; }

#editor {
	min-height: 200px;
	margin: 5px 0; }

html, body {
	height: auto; }

button,.button {background: -moz-linear-gradient(top, #ffffff 0%, #dedede 100%) !important;}
button:active,.button:active,button.active {background: -moz-linear-gradient(top, #dedede 0%, #efefef 100%) !important;}
.button.dropdown.small,button.dropdown.small {padding-right: 25px;}
.dropdown.button.small:after, button.dropdown.small:after {
  border-width: 0.48333rem;
  right: 7px;
  border-top-color: #444;
  margin-top: -0.20833rem;}
.f-dropdown {border-color: #aaa;}
.f-dropdown,.f-dropdown li,.f-dropdown a {border-radius: 2px;}
.f-dropdown a {font-size: 12px; background: #fefefe;}
.f-dropdown a:hover {background: #f5f5f5; text-shadow: 0px 1px 1px #fff;}
.f-dropdown li p {
  padding: 6px 6px;
  margin: 0;
  font-style: italic;
  color: #999;
  line-height: 16px;
  font-size: 11px;
  cursor: default;
  background: #eee;}
  .f-dropdown:before,.f-dropdown:after {content: none;}
.f-dropdown.open {
  top: 24px !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  border-color: #ccc;}
.f-dropdown.open a {
  font-weight: bold;
  padding: 5px 12px;
}