<h1>Check Out</h1>
<p>• Required</p>
<form id="catwebformform42059" name="catwebformform42059" onsubmit="return checkWholeForm42059(this)" action="/FormProcessv2.aspx?WebFormID=10850&amp;OID={module_oid}&amp;OTYPE={module_otype}&amp;EID={module_eid}&amp;CID={module_cid}" method="post" enctype="multipart/form-data">
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Title</label>
        </div>
        <div class="medium-10 columns">
            <select id="Title" name="Title">
                <option value="5" selected="true">DR</option>
                <option value="3">MISS</option>
                <option value="1">MR</option>
                <option value="2">MRS</option>
                <option value="4">MS</option>
            </select>
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">First Name</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="FirstName" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Last Name</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="LastName" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Email</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="EmailAddress" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Company</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="Company" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Shipping Address</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="ShippingAddress" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">City</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="ShippingCity" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">State</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="ShippingState" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Zipcode/Postcode</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="ShippingZip" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Country</label>
        </div>
        <div class="medium-10 columns">
            <select name="ShippingCountry" data-bcpie-utility="getList:countries; setValue:{module_shippingcountry}">
                <option selected="true">-- Select Country --</option>
            </select>
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Billing Address</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="BillingAddress" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">City</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="BillingCity" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">State</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="BillingState" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Zipcode/Postcode</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="BillingZip" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Country</label>
        </div>
        <div class="medium-10 columns">
            <select name="BillingCountry" data-bcpie-utility="getList:countries; setValue:{module_billingcountry}">
                <option selected="true">-- Select Country --</option>
            </select>
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Work Phone Number</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="WorkPhone" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Shipping Instructions</label>
        </div>
        <div class="medium-10 columns">
            <textarea class="cat_listbox_small" name="ShippingInstructions"></textarea>
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Name on Card</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="CardName" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Card Number</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="CardNumber" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Card Expiry</label>
        </div>
        <div class="medium-10 columns">
            <select name="CardExpiryMonth">
                <option value=" ">Month</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>
            <select name="CardExpiryYear">
                <option value=" ">Year</option>
                <option data-bcpie-date="ref:now; format:YYYY;"></option>
                <option data-bcpie-date="ref:now; format:YYYY; add:year:1"></option>
                <option data-bcpie-date="ref:now; format:YYYY; add:year:2"></option>
                <option data-bcpie-date="ref:now; format:YYYY; add:year:3"></option>
                <option data-bcpie-date="ref:now; format:YYYY; add:year:4"></option>
                <option data-bcpie-date="ref:now; format:YYYY; add:year:5"></option>
                <option data-bcpie-date="ref:now; format:YYYY; add:year:6"></option>
                <option data-bcpie-date="ref:now; format:YYYY; add:year:7"></option>
                <option data-bcpie-date="ref:now; format:YYYY; add:year:8"></option>
            </select>
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Card Type</label>
        </div>
        <div class="medium-10 columns">
            <select name="CardType">
                <option value="1" selected="true">Visa</option>
                <option value="2">Master Card</option>
                <option value="3">Bank Card</option>
                <option value="4">American Express</option>
                <option value="5">Diners Club</option>
                <option value="6">JCB</option>
            </select>
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">CCV Number</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="CardCCV" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Amount</label>
        </div>
        <div class="medium-10 columns">
            <input type="text" name="Amount" />
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-2 columns">
            <label class="inline">Payment Method</label>
        </div>
        <div class="medium-10 columns">
            <label>
                <input onclick="ShowCCFields(this.value);" type="radio" checked="true" value="1" name="PaymentMethodType" />
                <span>Credit Card</span>
                <input onclick="ShowCCFields(this.value);" type="radio" value="7" name="PaymentMethodType" />
                <span>Credit Card (Hosted) (remove if not required)</span>
                <input onclick="ShowCCFields(this.value);" type="radio" value="3" name="PaymentMethodType" />
                <span>COD</span>
                <input onclick="ShowCCFields(this.value);" type="radio" value="5" name="PaymentMethodType" />
                <span>PayPal</span>
                <input onclick="ShowCCFields(this.value);" type="radio" value="9" name="PaymentMethodType" />
                <span>Gift Voucher</span></label>
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-12 columns"> <img alt="GlobalSign SSL Site Seal" src="/CatalystImages/globalsign-ssl-site-seal.gif" /> </div>
    </div>
    <div class="row collapse">
        <div class="medium-12 columns">
            <button type="submit" class="radius button">Submit</button>
        </div>
    </div>
    <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script>
    <script language="javascript" type="text/javascript">
        //<![CDATA[
        var submitcount42059 = 0;function checkWholeForm42059(theForm){var why = "";if (theForm.FirstName) why += isEmpty(theForm.FirstName.value, "First Name");if (theForm.LastName) why += isEmpty(theForm.LastName.value, "Last Name"); if (theForm.EmailAddress) why += checkEmail(theForm.EmailAddress.value); if (!theForm.PaymentMethodType || getRadioSelected(theForm.PaymentMethodType) == 1) { if (theForm.CardName) why += isEmpty(theForm.CardName.value, "Name on Card"); if (theForm.CardNumber) why += isNumeric(theForm.CardNumber.value, "Card Number"); if (theForm.Amount) why += isCurrency(theForm.Amount.value, "Amount"); } if (theForm.PaymentMethodType) why += checkSelected(theForm.PaymentMethodType, "Payment Method");if(why != ""){alert(why);return false;}if(submitcount42059 == 0){submitcount42059++;theForm.submit();return false;}else{alert("Form submission is in progress.");return false;}}
        // Credit Card info is not required if paying by PayPal, Hosted Credit Card, COD etc
        function ShowCCFields(val) {
            if (!document.getElementById('paymentdiv'))
                return;
            if (val != 1)
                document.getElementById('paymentdiv').style.display = 'none';
            else
                document.getElementById('paymentdiv').style.display = 'inline';
        }
        //]]>
    </script>
</form>
