<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
	<head>
		{% include '/_system/apps/bcpie-sdk/includes/library/logic/globals.inc' %}
		{% include '{{root}}includes/template/head.inc' %}
	</head>
	<body data-settings="{{settings | json | escape}}">
		<header id="pageheader" role="banner">
			{% include '{{root}}includes/template/header.inc' %}
		</header>
		<section id="pagecontent">
			<div class="row full-width">
				<div class="small-12 columns">
					<main role="main">
						{% if globals.get.page %}{% include '{{root}}includes/library/pages/{{globals.get.page}}.inc' %}{% else %}{% include '{{root}}includes/library/pages/home.inc' %}{% endif %}
					</main>
				</div>
			</div>
		</section>
		<footer id="pagefooter" role="contentinfo">
			<div class="row full-width">
				<div class="small-12 columns">
					{% include '{{root}}includes/template/footer.inc' %}
				</div>
			</div>
		</footer>
		{% include '{{root}}includes/template/foot.inc' %}
	</body>
</html>
