<table>
    <tbody>
        <tr>
            <td>Description</td>
            <td>{tag_description}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{tag_status}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{tag_category}</td>
        </tr>
        <tr>
            <td>Assigned To</td>
            <td>{tag_assignedto}</td>
        </tr>
        <tr>
            <td>Create Date</td>
            <td>{{createdate | date: 'MMMM dd, yyyy HH:mm'}}</td>
        </tr>
        <tr>
            <td>Last Update Date</td>
            <td>{{lastUpdateDate | date: 'MMMM dd, yyyy HH:mm'}}</td>
        </tr>
        <tr>
            <td valign="top">Thread</td>
            <td>{tag_thread}</td>
        </tr>
    </tbody>
</table>