<div class="row">
  <div class="medium-12 columns">
    <h3>{tag_question}</h3>
    <p>{tag_answer}</p>
    <h5 class="title">Comment</h5>
    <form name="catratingform2343" onSubmit="return checkWholeForm2343(this)" method=post
        action="/RatingProcess.aspx?OID={module_oid}&amp;OTYPE={module_otype}">
      <div class="row collapse">
        <div class="medium-2 columns">
          <label>Was this helpful?</label>
        </div>
        <div class="medium-10 columns">
          <label><span>No</span>
            <input type="radio" name="Rating" value="1" />
            <input type="radio" name="Rating" value="2" />
            <input type="radio" name="Rating" checked="checked" value="3" />
            <input type="radio" name="Rating" value="4" />
            <input type="radio" name="Rating" value="5" />
            <span>Very</span></label>
        </div>
      </div>
      <div class="row collapse">
        <div class="medium-2 columns">
          <label class="inline">Name (optional)</label>
        </div>
        <div class="medium-10 columns">
          <input class="cat_textbox_small" type="text" name="FullName" maxlength="255" />
        </div>
      </div>
      <div class="row collapse">
        <div class="medium-2 columns">
          <label class="inline">Website (optional)</label>
        </div>
        <div class="medium-10 columns">
          <input name="website" class="cat_textbox_small" type="text" />
        </div>
      </div>
      <div class="row collapse">
        <div class="medium-2 columns">
          <label class="inline">Email Address (optional)</label>
        </div>
        <div class="medium-10 columns">
          <input class="cat_textbox_small" type="text" name="EmailAddress" maxlength="255"                    />
        </div>
      </div>
      <div class="row collapse">
        <div class="medium-2 columns">
          <label class="inline">Enter Word Verification in box below</label>
        </div>
        <div class="medium-10 columns"> {module_captchav2} </div>
      </div>
      <div class="row collapse">
        <div class="medium-2 columns">
          <label class="inline">Comment (optional)</label>
        </div>
        <div class="medium-10 columns">
          <textarea class="cat_listbox_small" name="Feedback"></textarea>
        </div>
      </div>
      <div class="row collapse">
        <div class="medium-12 columns">
          <button type="submit" class="radius button">Submit</button>
        </div>
      </div>
      <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script> 
      <script type="text/javascript">
                //<![CDATA[
                function checkWholeForm2343(theForm) {
                    var why = "";
                    if (theForm.EmailAddress) if (theForm.EmailAddress.value.length > 0) why += checkEmail(theForm.EmailAddress.value);
                    if (theForm.CaptchaV2) why += isEmpty(theForm.CaptchaV2.value, "Enter Word Verification in box below");
                    if (why != "") {
                        alert(why);
                        return false;
                    }
                    return true;
                }
                //]]>
            </script>
    </form>
    <div class="medium-12 columns">{module_referreraddress,,Back to FAQs}</div>
  </div>
</div>