<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
	{% include '/_System/Apps/bcpie-profile/includes/template/head.inc' %}
</head>
<body>
	<div id="pagecontainer">
		{% if globals.get.page %}
			{% include '{{path}}includes/library/pages/{{globals.get.page}}.inc' %}
		{% else %}
			{% include '{{path}}includes/library/pages/home.inc' %}
		{% endif %}
	</div>
	{% include '/_System/Apps/bcpie-profile/includes/template/foot.inc' %}
</body>
</html>