<form action="post">
    <div class="row">
        <div class="medium-6 columns">
            <p>You are buying a gift voucher. Please enter the recipients details below.</p>
            <input type="text" name="Username" placeholder="Recipient Name"/>
            <input type="email" name="RecipientEmail" placeholder="Recipient Email Address"/>
            <textarea name="Message" placeholder="Personal Message to Recipient"></textarea>
            {tag_continue}
        </div>
    </div>
</form>
