<p>
    Price: <strong>{tag_saleprice}</strong><br>
    In stock: <strong>{tag_instock}</strong><br>
    Qty: <strong>{tag_addtocartinputfield}</strong> {tag_addtocart}
</p>

<h5>{tag_description}</h5>
{tag_largeimage}
{tag_poplets}

<h5>Comment</h5>
<form name="catratingform2343" onSubmit="return checkWholeForm2343(this)" method=post
action="/RatingProcess.aspx?OID={module_oid}&amp;OTYPE={module_otype}">
    <label>Was this helpful?</label>
    <label>
        <span>No</span>
        <input type="radio" name="Rating" value="1" />
        <input type="radio" name="Rating" value="2" />
        <input type="radio" name="Rating" checked="checked" value="3" />
        <input type="radio" name="Rating" value="4" />
        <input type="radio" name="Rating" value="5" />
        <span>Very</span>
    </label>
    <input type="text" name="FullName" placeholder="Name (optional)"/>
    <input type="text" name="Website" placeholder="Website (optional)"/>
    <input type="email" name="EmailAddress" placeholder="Email Address (optional)"/>
    <label class="inline">Enter Word Verification in box below</label>
    {module_captchav2}
    <textarea name="Feedback" placeholder="Comment (optional)"></textarea>
    <button type="submit" class="radius button">Submit</button>
</form>

<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script> 
<script type="text/javascript">
    //<![CDATA[
    function checkWholeForm2343(theForm) {
        var why = "";
        if (theForm.EmailAddress) if (theForm.EmailAddress.value.length > 0) why += checkEmail(theForm.EmailAddress.value);
        if (theForm.CaptchaV2) why += isEmpty(theForm.CaptchaV2.value, "Enter Word Verification in box below");
        if (why != "") {
            alert(why);
            return false;
        }
        theForm.submit();
        return false;
    }
    //]]>		   		  		
</script> 