<html>
<head>
</head>
<body>
    <table>
      <tbody>
        <tr>
          <td><strong>SHIP FROM:</strong><br />
            <blockquote>[Company Name]<br />
              [Address 1]<br />
              [Address 2]<br />
              <strong>[City], [State] [ZIP Code]</strong> </blockquote></td>
        </tr>
        <tr>
          <td><hr></td>
        </tr>
        <tr>
          <td colspan="1"><strong>SHIP TO:</strong>
            <blockquote> <span>{tag_recipientname}</span><br />
              <span>{tag_addressshipping}</span></blockquote></td>
        </tr>
      </tbody>
    </table>
</body>
</html>