{% capture message %}{module_error}{% endcapture %}
{% if message != "" %}
    <div class="alert-box" data-alert="true">
        {{ message }}
        <a href="#" class="close">&times;</a>
    </div>
{% endif %}

<div class="editor">{tag_editor}</div>

<ul class="inline-list">
    <li>{module_whosloggedin}</li>
    <li>
        {tag_forumsubscribe,<img alt="" src="/CatalystImages/Forum_NewTopics_Subscribe.png" />,<img alt="" src="/CatalystImages/Forum_NewTopics_Unsubscribe.png" />} 
        {tag_newtopiclink,<img src="/CatalystImages/Forum_NewTopic.png" />}
    </li>
</ul>

<table>
    <thead>
        <tr>
            <th>Topic Name</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4">
                {tag_topiclist}
            </td>
        </tr>
    </tbody>
</table>

<ul class="inline-list">
    <li>
        {tag_previouspage,<img src="/CatalystImages/Module_Previous.png" />} 
        {tag_nextpage,<img src="/CatalystImages/Module_Next.png" />}
    </li>
    <li>
        {tag_forumsubscribe,<img alt="" src="/CatalystImages/Forum_NewTopics_Subscribe.png" />,<img alt="" src="/CatalystImages/Forum_NewTopics_Unsubscribe.png" />} 
        {tag_newtopiclink,<img src="/CatalystImages/Forum_NewTopic.png" />}
    </li>
</ul>