<h1>{tag_forumname}</h1>

<p>{module_error}</p>
<p>{tag_editor}</p>
<ul class="inline-list">
    <li>{module_whosloggedin}</li>
    <li>{tag_forumsubscribe,
        <img alt="" src="/CatalystImages/Forum_NewTopics_Subscribe.png"
        />,
        <img alt="" src="/CatalystImages/Forum_NewTopics_Unsubscribe.png" />}</li>
    <li>{tag_newtopiclink,
        <img src="/CatalystImages/Forum_NewTopic.png" />}</li>
</ul>
<table>
    <thead>
        <tr>
            <th>Topic Name</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tr>
        <td colspan="4">{tag_topiclist}</td>
    </tr>
</table>
<ul class="inline-list">
    <li>{tag_previouspage,
        <img src="/CatalystImages/Module_Previous.png" />} {tag_nextpage,
        <img src="/CatalystImages/Module_Next.png" />}</li>
    <li>{tag_forumsubscribe,
        <img alt="" src="/CatalystImages/Forum_NewTopics_Subscribe.png"
        />,
        <img alt="" src="/CatalystImages/Forum_NewTopics_Unsubscribe.png" />}</li>
    <li>{tag_newtopiclink,
        <img src="/CatalystImages/Forum_NewTopic.png" />}</li>
</ul>