{% capture classes %}{tag_menuitemcssclass}{% endcapture %}
{% if globals.user.isLoggedIn == false and classes contains 'loggedin' %}{% elseif globals.user.isLoggedIn == true and classes contains 'loggedout' %}{% else %}
	{% capture children %}{tag_menugroup}{% endcapture %}
	{% capture attributes %}{tag_menuitemcssrolloverclass}{% endcapture %}
	{% capture image %}{tag_menuitemimageurl}{% endcapture %}
	<li role="menuitem" {tag_menuitemidname_withid} class="{tag_menuitemcssclass}{% if children != '' %} has-dropdown{% endif %}">
		<a href="{% if attributes contains 'disabled' %}#{% else %}{tag_menuitemurl}{% endif %}" {{attributes}}>
			{% if image != '' %}
				<img src="{{image}}" alt="{tag_menuitemlabel}" />
			{% endif %}
			{tag_menuitemlabel}
		</a>
		{tag_menugroup}
	</li>
{% endif %}