<h1>Password Reset</h1>
<p class="alert-box alert error {tag_error}" id="errorMessage" data-alert="true">ERROR: An error occurred while resetting your password.<a href="#" class="close">&times;</a></p>
<p>Please fill in your new password in the form below:</p>
<form data-bcpie-formmagic="validateMode:inline;" action="{module_secureurl}/ResetPasswordProcess.aspx?Token={tag_token}&Redirect={module_siteurl}" method="post">
    <div class="row">
        <div class="medium-6 columns">
        	<input type="password" name="RPPassword" placeholder="New Password *" required="required" class="required">
        	<input type="password" name="RPPasswordConfirm" placeholder="Confirm New Password *" required="required" class="required"/>
        	<button type="submit" class="button">Submit</button>
        </div>
    </div>
</form>
