<h1>Password Retrieve</h1>
<p class="alert-box alert error {tag_tokenExpired}" data-alert="true">ERROR: Your password reset token has expired. Please request a new one by filling in the form below.<a href="#" class="close">&times;</a></p>
<p class="alert-box alert error {tag_invalidUsername}" data-alert="true">ERROR: The email address or username you provided does not exist.<a href="#" class="close">&times;</a></p>
<p>Forgotten or lost your password? Enter your email address or username below and we'll send you instructions on how to reset it.</p>
<form action="/LostPasswordProcess.aspx" method="post" data-bcpie-formmagic="validateMode:inline">
    <div class="row">
        <div class="medium-6 columns">
            <input type="text" name="Username" placeholder="Email Address / Username " required="required">
            <button type="submit" class="button">Retrieve</button>
        </div>
    </div>
</form>
